<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="domaintypLabel"></span><select id="domaintypInput"></select></div>
        <div class=inputsingle><span id="domainLabel"></span><input type="text" id="domainInput" /></div>
        <div class=inputsingle><span id="workgroupLabel"></span><input type="text" id="workgroupInput" /></div>
        <div class=inputsingle><span id="descriptionLabel"></span><input type="text" id="descriptionInput" /></div>
        <div class=inputsingle><span id="netdeviceLabel"></span><input id="netdeviceInput" /></div>
        <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
        <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
        <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
  </div>
  <div id="adparam" class="inputgroup">
          <div class="inputsingle header"><span>Administrator</span><span>&nbsp;</span></div>
        <div class=inputsingle><span id="adminpasswordLabel"></span><input type="password" id="adminpasswordInput" /></div>
        <div class=inputsingle><span id="adminpassword2Label"></span><input type="password" id="adminpassword2Input" /></div>
        <div class="inputsingle header"><span>Primary</span><span>&nbsp;</span></div>
        <div class=inputsingle><span id="administratorLabel"></span><input id="administratorInput" /></div>
        <div class=inputsingle><span id="primarynameLabel"></span><input id="primarynameInput" /></div>
        <div class=inputsingle><span id="primaryaddrLabel"></span><input id="primaryaddrInput" /></div>
        <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
  </div>
  <div id="adaddr" class="inputgroup">
        <div class="inputsingle header"><span>DNS</span><span>&nbsp;</span></div>
        <div class=inputsingle><span id="dnsforwarderLabel"></span><input id="dnsforwarderInput" /></div>
        <div class=inputsingle><span id="dnssearchLabel"></span><input id="dnssearchInput" /></div>
        <div class="inputsingle header"><span>DHCP</span><span>&nbsp;</span></div>
        <div class=inputsingle><span id="dhcpstartLabel"></span><input id="dhcpstartInput" /></div>
        <div class=inputsingle><span id="dhcpendLabel"></span><input id="dhcpendInput" /></div>
        <div class=inputsingle><span id="dhcp6startLabel"></span><input id="dhcp6startInput" /></div>
        <div class=inputsingle><span id="dhcp6endLabel"></span><input id="dhcp6endInput" /></div>
   </div>
</div>
