<input type="hidden" id="dataInput"/>
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="countryLabel"></span><input type="text" id="countryInput"/></div>
        <div class=inputsingle><span id="stateLabel"></span><input type="text" id="stateInput" /></div>
        <div class=inputsingle><span id="cityLabel"></span><input type="text" id="cityInput" /></div>
        <div class=inputsingle><span id="orgLabel"></span><input type="text" id="orgInput"/></div>
        <div class=inputsingle><span id="orgunitLabel"></span><input type="text" id="orgunitInput"/></div>
        <div class=inputsingle><span id="emailLabel"></span><input type="text" id="emailInput" /></div>
        <div class=inputsingle><span id="passwdLabel"></span><input type="password" id="passwdInput" /></div>
   </div>
  <div class="inputgroup">
        <div class=inputsingle><span id="overwriteLabel"></span><input type="checkbox" id="overwriteInput"/></div>
        <div class=inputsingle><span id="rmkeyLabel"></span><input type="checkbox" id="rmkeyInput"/></div>
        <div class=inputsingle><span id="fileLabel"></span><input type="file" id="fileFile"/></div>
        <div class=inputsingle><span></span><span></span></div>
        <div class=inputsingle><span></span><span></span></div>
        <div class=inputsingle><span></span><span></span></div>
        <div class=inputsingle><span></span><span></span></div>
   </div>
</div>

