<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="sAMAccountNameLabel"></span><input type="text" id="sAMAccountNameInput"/></div>
    <div class=inputsingle><span id="descriptionLabel"></span><input type="text" id="descriptionInput"/></div>
    <div class="inputsingle header"><span>#mne_lang#Unix Attribute</span></div>
    <div class=inputsingle><span id="uidNumberLabel"></span><input id="uidNumberInput"/></div>
    <div class=inputsingle><span id="gidNumberLabel"></span><input id="gidNumberInput"/></div>
    <div class=inputsingle><span id="unixHomeDirectoryLabel"></span><input id="unixHomeDirectoryInput"/></div>
    <div class=inputsingle><span id="loginShellLabel"></span><input id="loginShellInput"/></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="givenNameLabel"></span><input type="text" id="givenNameInput"/></div>
    <div class=inputsingle><span id="snLabel"></span><input type="text" id="snInput" /></div>
    <div class=inputsingle><span id="streetLabel"></span><input type="text" id="streetInput" /></div>
    <div class=inputsingle><span id="postOfficeBoxLabel"></span><input type="text" id="postOfficeBoxInput" /></div>
    <div class=inputsingle><span id="postalCodeLabel"></span><input id="postalCodeInput"/></div>
    <div class=inputsingle><span id="lLabel"></span><input id="lInput"/></div>
    <div class=inputsingle><span id="coLabel"></span><input id="coInput"/></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="initialsLabel"></span><input name="" type="text" id="initialsInput"/></div>
    <div class=inputsingle><span id="homePhoneLabel"></span><input type="text" id="homePhoneInput"/></div>
    <div class=inputsingle><span id="telephoneNumberLabel"></span><input name="" type="text" id="telephoneNumberInput"/></div>
    <div class=inputsingle><span id="mobileLabel"></span><input name="" type="text" id="mobileInput"/></div>
    <div class=inputsingle><span id="mailLabel"></span><input name="" type="text" id="mailInput"/></div>
    <div class=inputsingle><span id="wWWHomePageLabel"></span><input name="" type="text" id="wWWHomePageInput"/></div>
    <div class=inputsingle><span id="preferredLanguageLabel"></span><select id="preferredLanguageInput"></select></div>
  </div>
</div>
